.pole {
    background-image: url('https://raw.githubusercontent.com/Kshtij-7/sequence/main/img/polen.png');
    background-repeat: no-repeat;
    background-position: center center;
    /*padding: 10px 20px;*/
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
.card{
    background-image: var(--button-image);
    background-repeat: no-repeat;
    background-position: center center;
    /*padding: 10px 20px;*/
    border: none;
    color: #fff;
    font-size: 0px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    z-index: 1;
}
.GreenCoin{
    background-image: url(/img/greencoin.png), var(--button-image);   
    background-repeat: no-repeat;
    background-position: center center;
       /* position: absolute        opacity: 1;
    background-size: 50px, 50px, auto;*/
}
.OrangeCoin{
    background-image: url(/img/orangecoin.png), var(--button-image);   
    background-repeat: no-repeat;
    background-position: center center;
       /* position: absolute        opacity: 1;
    background-size: 50px, 50px, auto;*/
}
.BlueCoin{
    background-image: url(/img/tortoisegreencoin.png), var(--button-image);   
    background-repeat: no-repeat;
    background-position: center center;
       /* position: absolute        opacity: 1;
    background-size: 50px, 50px, auto;*/
}
.GreenCoinSequence{
    background-image: url(/img/greencoin.png), var(--button-image);   
    background-repeat: no-repeat;
    background-position: center center;
       /* position: absolute        opacity: 1;
    background-size: 50px, 50px, auto;*/
}
.OrangeCoinSequence{
    background-image: url(/img/orangecoin.png), var(--button-image);   
    background-repeat: no-repeat;
    background-position: center center;
       /* position: absolute        opacity: 1;
    background-size: 50px, 50px, auto;*/
}
.BlueCoinSequence{
    background-image: url(/img/tortoisegreencoin.png), var(--button-image);   
    background-repeat: no-repeat;
    background-position: center center;
       /* position: absolute        opacity: 1;
    background-size: 50px, 50px, auto;*/
}
.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }
  .highlight {
    background-color: yellow;
  }
  
