.pole {
    background-image: url('/img/polen.png');
    background-repeat: no-repeat;
    background-position: center center;
    /*padding: 10px 20px;*/
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
.card{
    background-image: var(--button-image);
    background-repeat: no-repeat;
    background-position: center center;
    /*padding: 10px 20px;*/
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    z-index: 1;
}
/*
#cAreddiamond{
    background-image: url('/img/Areddiamond.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    z-index: 1;
}
#cAredheart{
    background-image: url('/img/Aredheart.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    border-spacing: 3px;
}
#cAblackspade{
    background-image: url('/img/Ablackspade.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#cAblackclub{
    background-image: url('/img/Ablackclub.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c2reddiamond{
    background-image: url('/img/2reddiamond.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c2redheart{
    background-image: url('/img/2redheart.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c2blackspade{
    background-image: url('/img/2blackspade.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c2blackclub{
    background-image: url('/img/2blackclub.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c3reddiamond{
    background-image: url('/img/3reddiamond.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c3redheart{
    background-image: url('/img/3redheart.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c3blackspade{
    background-image: url('/img/3blackspade.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c3blackclub{
    background-image: url('/img/3blackclub.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c4reddiamond{
    background-image: url('/img/4reddiamond.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c4redheart{
    background-image: url('/img/4redheart.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c4blackspade{
    background-image: url('/img/4blackspade.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c4blackclub{
    background-image: url('/img/4blackclub.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c5reddiamond{
    background-image: url('/img/5reddiamond.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c5redheart{
    background-image: url('/img/5redheart.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c5blackspade{
    background-image: url('/img/5blackspade.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c5blackclub{
    background-image: url('/img/5blackclub.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c6reddiamond{
    background-image: url('/img/6reddiamond.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c6redheart{
    background-image: url('/img/6redheart.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c6blackspade{
    background-image: url('/img/6blackspade.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c6blackclub{
    background-image: url('/img/6blackclub.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c7reddiamond{
    background-image: url('/img/7reddiamond.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c7redheart{
    background-image: url('/img/7redheart.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c7blackspade{
    background-image: url('/img/7blackspade.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c7blackclub{
    background-image: url('/img/7blackclub.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c8reddiamond{
    background-image: url('/img/8reddiamond.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c8redheart{
    background-image: url('/img/8redheart.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c8blackspade{
    background-image: url('/img/8blackspade.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c8blackclub{
    background-image: url('/img/8blackclub.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c9reddiamond{
    background-image: url('/img/9reddiamond.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c9redheart{
    background-image: url('/img/9redheart.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c9blackspade{
    background-image: url('/img/9blackspade.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
#c9blackclub{
    background-image: url('/img/9blackclub.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}*/
.gcoin{
    background-image: url(/img/greencoin.png), var(--button-image);   
    background-repeat: no-repeat;
    background-position: center center;
       /* position: absolute        opacity: 1;
    background-size: 50px, 50px, auto;*/
}
.ocoin{
    background-image: url(/img/orangecoin.png), var(--button-image);   
    background-repeat: no-repeat;
    background-position: center center;
       /* position: absolute        opacity: 1;
    background-size: 50px, 50px, auto;*/
}
.bcoin{
    background-image: url(/img/tortoisegreencoin.png), var(--button-image);   
    background-repeat: no-repeat;
    background-position: center center;
       /* position: absolute        opacity: 1;
    background-size: 50px, 50px, auto;*/
}