.pole {
    background-image: url('https://raw.githubusercontent.com/Kshtij-7/sequence/main/img/polen.png');
    background-repeat: no-repeat;
    background-position: center center;
    /*padding: 10px 20px;*/
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}
.card{
    background-image: var(--button-image);
    background-repeat: no-repeat;
    background-position: center center;
    /*padding: 10px 20px;*/
    border: none;
    color: #fff;
    font-size: 1px;
    cursor: pointer;
    height: 105px;
    width: 75px;
    margin: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    z-index: 1;
}
.gcoin{
    background-image: url('https://raw.githubusercontent.com/Kshtij-7/sequence/main/img/greencoin.png'), var(--button-image);   
    background-repeat: no-repeat;
    background-position: center center;
       /* position: absolute        opacity: 1;
    background-size: 50px, 50px, auto;*/
}
.ocoin{
    background-image: url('https://raw.githubusercontent.com/Kshtij-7/sequence/main/img/orangecoin.png'), var(--button-image);   
    background-repeat: no-repeat;
    background-position: center center;
       /* position: absolute        opacity: 1;
    background-size: 50px, 50px, auto;*/
}
.bcoin{
    background-image: url('https://raw.githubusercontent.com/Kshtij-7/sequence/main/img/tortoisegreencoin.png'), var(--button-image);   
    background-repeat: no-repeat;
    background-position: center center;
       /* position: absolute        opacity: 1;
    background-size: 50px, 50px, auto;*/
}
